<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <figure>
        <img src="https://github.com/c13inb/c13inb.github.io/tree/master/images/brain_icon.png" width="300" height="250">
      </figure>
      <h1 align="left">
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
      <a class="sidebar-nav-item" align="left" href="https://github.com/c13inb/c13inb.github.io/wiki">Wiki</a>
      <a class="sidebar-nav-item" align="left" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Gallery</a>
      <a class="sidebar-nav-item" align="left" href="{{ site.github.repo }}">GitHub page</a>

        <section class="meta">
          <a href="{{ site.github.repo }}" target="_blank" title="Follow me on GitHub" aria-label="Follow me on GitHub"><i class="fa fa-github"></i></a>
          <a href="https://twitter.com/{{ site.twitter }}" target="_blank" title="Follow me on Twitter" aria-label="Follow me on Twitter"><i class="fa fa-twitter"></i></a>
          <a href="/atom.xml" title="Atom RSS feed" aria-label="Atom RSS feed"><i class="fa fa-rss"></i></a>
      </section>

    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
